<a href="https://colab.research.google.com/github/parsh-waah/Coursera_Capstone/blob/master/CoffeeShop_modified.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Applied Data Science Capstone by IBM/Coursera

### Table of contents 

1.   Introduction: Business Problem
2.   Data
3.   Methodology
4.   Result and Discussion
5.   Conclusion

## Introduction: Business Problem

In this project we will try to find an optimal location for a coffee shop. Specifically, this report will be targeted to stakeholders interested in opening a Coffee Shop in Toronto, Canada.

Since there are lots of cafes in Toronto we will try to detect locations that are not already crowded with cafes. We would also prefer locations are densely populated and have a high average income.

We will use our data science powers to generate a few most promissing neighborhoods based on this criteria. Advantages of each area will then be clearly expressed so that best possible final location can be chosen by stakeholders.

## Data

To provide the stakeholders the necessary information I'll be combining Toronto's 2016 Census that contains Population, Average income per Neighbourhood with Toronto's Neighbourhoods shapefile and Foursquare API to collect competitors on the same neighbourhoods.

Toronto's Census data is publicly available at this website: https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#8c732154-5012-9afe-d0cd-ba3ffc813d5a

Toronto Neighbourhoods' shapefile is publicly available at this website: https://www.toronto.ca/city-government/data-research-maps/open-data/open-data-catalogue/#a45bd45a-ede8-730e-1abc-93105b2c439f

In [ ]:
import pandas as pd

In [ ]:
df_toronto= pd.read_csv("neighbourhood_toronto.csv")

In [ ]:
df_toronto.head()

   _id  ...      Yorkdale-Glen Park
0    1  ...                      31
1    2  ...  Emerging Neighbourhood
2    3  ...                  14,804
3    4  ...                  14,687
4    5  ...                   0.80%

[5 rows x 146 columns]

In [ ]:
df_toronto

       _id  ...      Yorkdale-Glen Park
0        1  ...                      31
1        2  ...  Emerging Neighbourhood
2        3  ...                  14,804
3        4  ...                  14,687
4        5  ...                   0.80%
...    ...  ...                     ...
2378  2379  ...                   1,345
2379  2380  ...                     580
2380  2381  ...                     445
2381  2382  ...                     135
2382  2383  ...                     775

[2383 rows x 146 columns]

In [ ]:
df_toronto=df_toronto.drop(['Topic','Data Source'],axis=1)

In [ ]:
class_23 = df_toronto[df_toronto["Characteristic"].isin(['Population, 2016','Population density per square kilometre','Youth (15-24 years)','Working Age (25-54 years)','Land area in square kilometres','Private dwellings occupied by usual residents','Total - Income statistics in 2015 for the population aged 15 years and over in private households'])]

In [ ]:
class_23

     _id    Category  ... York University Heights Yorkdale-Glen Park
2      3  Population  ...                  27,593             14,804
6      7  Population  ...                  10,170              5,344
7      8  Population  ...                   2,086              2,451
8      9  Population  ...                   13.23               6.04
10    11  Population  ...                   4,750              1,870
11    12  Population  ...                  12,290              5,860
944  945      Income  ...                  23,530             12,065

[7 rows x 144 columns]

In [ ]:
df_modified=class_23.transpose()

In [ ]:
df_modified

                                      2    ...                                                944
_id                                     3  ...                                                945
Category                       Population  ...                                             Income
Characteristic           Population, 2016  ...  Total - Income statistics in 2015 for the popu...
City of Toronto                 2,731,571  ...                                          2,294,785
Agincourt North                    29,113  ...                                             25,005
...                                   ...  ...                                                ...
Wychwood                           14,349  ...                                             11,345
Yonge-Eglinton                     11,817  ...                                              9,995
Yonge-St.Clair                     12,528  ...                                             11,170
York University Heights            27,593  ...                                             23,530
Yorkdale-Glen Park                 14,804  ...                                             12,065

[144 rows x 7 columns]

In [ ]:
df_modified.rename(columns={2: 'Population,2016',6:'Private dwellings occupied by usual residents',7:'Population density per square kilometre',8:'Land area in square kilometres',10:'Youth (15-24 years)',11:'Working Age (25-54 years)',944:'Total - Income statistics in 2015 for the population aged 15 years and older'}, inplace=True)

In [ ]:
df_modified

                          Population,2016  ... Total - Income statistics in 2015 for the population aged 15 years and older
_id                                     3  ...                                                945
Category                       Population  ...                                             Income
Characteristic           Population, 2016  ...  Total - Income statistics in 2015 for the popu...
City of Toronto                 2,731,571  ...                                          2,294,785
Agincourt North                    29,113  ...                                             25,005
...                                   ...  ...                                                ...
Wychwood                           14,349  ...                                             11,345
Yonge-Eglinton                     11,817  ...                                              9,995
Yonge-St.Clair                     12,528  ...                                             11,170
York University Heights            27,593  ...                                             23,530
Yorkdale-Glen Park                 14,804  ...                                             12,065

[144 rows x 7 columns]

In [ ]:
df_modified.drop(labels=['_id','Category','Characteristic','City of Toronto'],axis=0,inplace=True)

In [ ]:
df_modified

                             Population,2016  ... Total - Income statistics in 2015 for the population aged 15 years and older
Agincourt North                       29,113  ...                                             25,005
Agincourt South-Malvern West          23,757  ...                                             20,400
Alderwood                             12,054  ...                                             10,265
Annex                                 30,526  ...                                             26,295
Banbury-Don Mills                     27,695  ...                                             23,410
...                                      ...  ...                                                ...
Wychwood                              14,349  ...                                             11,345
Yonge-Eglinton                        11,817  ...                                              9,995
Yonge-St.Clair                        12,528  ...                                             11,170
York University Heights               27,593  ...                                             23,530
Yorkdale-Glen Park                    14,804  ...                                             12,065

[140 rows x 7 columns]

## Methodology

For this report I used a few different maps that could help a new investor to decide the best neighbourhood to open a coffee shop in Toronto based on it's income, population and available competitors. In order to do that I've used the 2016 Census information combined with Foursquare data to know which neighbourhood has a coffee shop in its top10 list and also those neighbourhoods which are wealthier than the rest and are well populated.

In [ ]:
df_modified.dtypes

Population,2016                                                                 object
Private dwellings occupied by usual residents                                   object
Population density per square kilometre                                         object
Land area in square kilometres                                                  object
Youth (15-24 years)                                                             object
Working Age (25-54 years)                                                       object
Total - Income statistics in 2015 for the population aged 15 years and older    object
dtype: object

In [ ]:
df_modified['Population,2016'] = df_modified['Population,2016'].str.replace(',', '').astype(int)
df_modified['Private dwellings occupied by usual residents'] = df_modified['Private dwellings occupied by usual residents'].str.replace(',', '').astype(int)
df_modified['Population density per square kilometre'] = df_modified['Population density per square kilometre'].str.replace(',', '').astype(int)
df_modified['Land area in square kilometres'] = df_modified['Land area in square kilometres'].str.replace(',', '').astype(float)
df_modified['Youth (15-24 years)'] = df_modified['Youth (15-24 years)'].str.replace(',', '').astype(int)
df_modified['Working Age (25-54 years)'] = df_modified['Working Age (25-54 years)'].str.replace(',', '').astype(int)
df_modified['Total - Income statistics in 2015 for the population aged 15 years and older'] = df_modified['Total - Income statistics in 2015 for the population aged 15 years and older'].str.replace(',', '').astype(int)

In [ ]:
df_modified.dtypes

Population,2016                                                                   int64
Private dwellings occupied by usual residents                                     int64
Population density per square kilometre                                           int64
Land area in square kilometres                                                  float64
Youth (15-24 years)                                                               int64
Working Age (25-54 years)                                                         int64
Total - Income statistics in 2015 for the population aged 15 years and older      int64
dtype: object

In [ ]:
from sklearn.cluster import KMeans

kclusters = 3

#toronto_grouped_clustering1 = df_modified.drop('Postal Code', 1)

# run k-means clustering
kmeans = KMeans(n_clusters=kclusters, random_state=0).fit(df_modified)

# check cluster labels generated for each row in the dataframe
kmeans.labels_[0:500]

array([0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 1, 1, 1, 1, 1, 1, 1, 1,
       1, 0, 0, 1, 1, 1, 1, 1, 0, 0, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 1,
       1, 0, 1, 1, 1, 0, 0, 1, 1, 1, 1, 1, 1, 1, 2, 1, 1, 1, 1, 0, 1, 1,
       2, 1, 1, 1, 1, 1, 1, 2, 1, 1, 0, 0, 1, 0, 1, 0, 1, 0, 1, 1, 0, 0,
       1, 0, 1, 0, 1, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 2, 1, 1, 1, 0,
       0, 1, 0, 0, 0, 1, 0, 1, 0, 1, 1, 1, 2, 0, 0, 0, 1, 1, 0, 2, 1, 0,
       2, 1, 1, 1, 1, 1, 0, 1], dtype=int32)

In [ ]:
df_modified.insert(0, 'Cluster Labels', kmeans.labels_)

#pd.set_option('display.max_rows', None)
#df_modified.reset_index(inplace=True)
#toronto_merged.drop("index",axis=1)
df_modified

                              Cluster Labels  ...  Total - Income statistics in 2015 for the population aged 15 years and older
Agincourt North                            0  ...                                              25005
Agincourt South-Malvern West               0  ...                                              20400
Alderwood                                  1  ...                                              10265
Annex                                      0  ...                                              26295
Banbury-Don Mills                          0  ...                                              23410
...                                      ...  ...                                                ...
Wychwood                                   1  ...                                              11345
Yonge-Eglinton                             1  ...                                               9995
Yonge-St.Clair                             1  ...                                              11170
York University Heights                    0  ...                                              23530
Yorkdale-Glen Park                         1  ...                                              12065

[140 rows x 8 columns]

In [ ]:
df_modified.loc[df_modified['Cluster Labels'] == 0]

                                     Cluster Labels  ...  Total - Income statistics in 2015 for the population aged 15 years and older
Agincourt North                                   0  ...                                              25005
Agincourt South-Malvern West                      0  ...                                              20400
Annex                                             0  ...                                              26295
Banbury-Don Mills                                 0  ...                                              23410
Bay Street Corridor                               0  ...                                              23945
Bayview Village                                   0  ...                                              18730
Bedford Park-Nortown                              0  ...                                              18560
Bendale                                           0  ...                                              24610
Birchcliffe-Cliffside                             0  ...                                              18345
Black Creek                                       0  ...                                              16965
Church-Yonge Corridor                             0  ...                                              29085
Clairlea-Birchmount                               0  ...                                              21740
Don Valley Village                                0  ...                                              22760
Dorset Park                                       0  ...                                              20130
Dovercourt-Wallace Emerson-Junction               0  ...                                              31825
Downsview-Roding-CFB                              0  ...                                              29220
East End-Danforth                                 0  ...                                              17290
Eglinton East                                     0  ...                                              18075
Englemount-Lawrence                               0  ...                                              17085
Flemingdon Park                                   0  ...                                              17535
Glenfield-Jane Heights                            0  ...                                              24430
High Park North                                   0  ...                                              18980
High Park-Swansea                                 0  ...                                              19810
Kingsview Village-The Westway                     0  ...                                              17740
Milliken                                          0  ...                                              22380
Mimico (includes Humber Bay Shores)               0  ...                                              29830
Moss Park                                         0  ...                                              17025
Mount Olive-Silverstone-Jamestown                 0  ...                                              25740
Mount Pleasant West                               0  ...                                              26550
Newtonbrook West                                  0  ...                                              20820
Niagara                                           0  ...                                              28390
North St. James Town                              0  ...                                              16075
Oakwood Village                                   0  ...                                              17840
Parkwoods-Donalda                                 0  ...                                              28900
Rockcliffe-Smythe                                 0  ...                                              18740
Rosedale-Moore Park                               0  ...                                              18000
South Parkdale                                    0  ...                                              18595
South Riverdale                                   0  ...                                              23140
Steeles                                           0  ...                                              21120
Stonegate-Queensway                               0  ...                                              20830
Tam O'Shanter-Sullivan                            0  ...                                              23140
The Beaches                                       0  ...                                              17615
Thorncliffe Park                                  0  ...                                              15250
West Hill                                         0  ...                                              22395
West Humber-Clairville                            0  ...                                              27850
Westminster-Branson                               0  ...                                              22640
Wexford/Maryvale                                  0  ...                                              23330
Willowridge-Martingrove-Richview                  0  ...                                              18585
York University Heights                           0  ...                                              23530

[49 rows x 8 columns]

In [ ]:
df_modified.loc[df_modified['Cluster Labels'] == 1]

                         Cluster Labels  ...  Total - Income statistics in 2015 for the population aged 15 years and older
Alderwood                             1  ...                                              10265
Bathurst Manor                        1  ...                                              13270
Bayview Woods-Steeles                 1  ...                                              11150
Beechborough-Greenbrook               1  ...                                               5250
Blake-Jones                           1  ...                                               6280
...                                 ...  ...                                                ...
Woodbine-Lumsden                      1  ...                                               6685
Wychwood                              1  ...                                              11345
Yonge-Eglinton                        1  ...                                               9995
Yonge-St.Clair                        1  ...                                              11170
Yorkdale-Glen Park                    1  ...                                              12065

[84 rows x 8 columns]

In [ ]:
df_compare=df_modified.loc[df_modified['Cluster Labels'] == 2]
df_compare

                                   Cluster Labels  ...  Total - Income statistics in 2015 for the population aged 15 years and older
Islington-City Centre West                      2  ...                                              37410
L'Amoreaux                                      2  ...                                              37385
Malvern                                         2  ...                                              35865
Rouge                                           2  ...                                              38125
Waterfront Communities-The Island               2  ...                                              61985
Willowdale East                                 2  ...                                              44340
Woburn                                          2  ...                                              43410

[7 rows x 8 columns]

## Result and Discussion

Based our analysis we figure out that there are several neighbourhoods which don’t have a coffee shop in its top10 list. However, not all of them are densely populated and wealthy. Islington Avenue, Malvern and Rogue are the top 3 neighbourhoods to open a coffee shop as they have less competitors in the surrounding and are wealthy and densely populated.

Negihbourhood with cluster label **2** has the **highest** population and the **highest** income. 

Negihbourhood with cluster label **1** has the **lowest** population and the **lowest** income. 

Negihbourhood with cluster label **0** has **moderate** population and **moderate** income.

Neighbourhoods with cluster label2 are the most suitables ones for opening a coffee shop

Islington Avenue doesn't have a coffee shop in its top10 most common venues.

L'Amoreaux has a coffee shop in its top6 most common venues.

Malvern and Rogue has a coffee shop in its top9 most common venues.

Willowdale has a coffee shop in its top1 most common venues.

 Woburn has a coffee shop in its top2 most common venues.

Hence from the above analysis we reach a conclusion that **Islington Avenue** , **Malvern** and **Rogue** are the most suitable venues for opening a Coffee Shop in the city of Toronto.

## Conclusion

Based our analysis we figure out that there are several neighbourhoods which don’t have a coffee shop in its top10 list. However, not all of them are densely populated and wealthy. Islington Avenue, Malvern and Rogue are the top 3 neighbourhoods to open a coffee shop as they have less competitors in the surrounding and are wealthy and densely populated.